@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
}

.css-x07y5q-MuiInputBase-root-MuiInput-root {
  margin-top: 0px;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}